<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for p in blogs %}
       <li>{{p}}</li>

       <button>
          <a href="{%url 'Leer_blogs' p.titulo %}"></a>
          <a href="{%url 'Crear_blogs' p.titulo %}"></a>
          <a href="{%url 'Editar_blogs' p.titulo %}"></a>
          <a href="{%url 'Eliminar_blogs' p.titulo %}"></a>
       </button>

    {% endfor %}



  
  
</body>
</html>