<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="#page-top">Blogs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'editar_perfil' %}">Editar Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="#{% url 'logout' %}">Logout</a></li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    
                    {%if request.user.is_authenticated %}
                    <img src="{{(Avatar.objects.filter(user = request.user.id)[0].imagen.url)}}" />
                    <p class="small"> Hola, {{user.name_user}}</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>